In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\user\Downloads\fem_cleaned_new.csv")
df.head()

,LengthofCycle,EstimatedDayofOvulation,LengthofMenses,Age,Height,Weight,BMI
0,29,17,5,36,157.5,54,21.25
1,28,14,4,39,170.0,84,28.13
2,29,19,7,29,165.0,81,29.05
3,23,14,7,29,165.0,81,29.05
4,28,18,4,26,165.0,81,29.05

In [4]:
df = pd.DataFrame(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LengthofCycle            183 non-null    int64
 1   EstimatedDayofOvulation  183 non-null    int64
 2   LengthofMenses           183 non-null    int64
 3   Age                      183 non-null    int64
 4   Height                   183 non-null    float64
 5   Weight                   183 non-null    int64
 6   BMI                      183 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 10.1 KB

In [5]:

df.info()

df.isnull().sum()

df["Height"] = df["Height"].fillna(df["Height"].mean())

df["BMI"] = df["BMI"].fillna(df["BMI"].mean())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LengthofCycle            183 non-null    int64
 1   EstimatedDayofOvulation  183 non-null    int64
 2   LengthofMenses           183 non-null    int64
 3   Age                      183 non-null    int64
 4   Height                   183 non-null    float64
 5   Weight                   183 non-null    int64
 6   BMI                      183 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 10.1 KB

In [6]:
X = df.drop('LengthofCycle',axis='columns')
y = df.LengthofCycle


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)
model.score(X_test, y_test)

0.7242343319781019

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LengthofCycle            183 non-null    int64
 1   EstimatedDayofOvulation  183 non-null    int64
 2   LengthofMenses           183 non-null    int64
 3   Age                      183 non-null    int64
 4   Height                   183 non-null    float64
 5   Weight                   183 non-null    int64
 6   BMI                      183 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 10.1 KB

In [8]:
a = {
    "EstimatedDayofOvulation":[14],
    "LengthofMenses":[5],
    "Age":[26], 
    "Height":[63],
    "Weight":[120],
    "BMI":[21.25] 
       }

a = pd.DataFrame(a)
a


model.predict(a)

array([25.76815329])